.daily_info {
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 400px;
  margin-left: 50px;
  padding: 14px 18px;
  width: 295px;
  height: 106px;
}

.daily_info__liters {
  font-weight: bold;
  font-size: 15;
}
.daily_info__text {
  font-size: 12;
}
