.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0 40px 0;
  height: 110px;
}

.itemList {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  padding-bottom: 24px;
  width: 100%;
}

.itemList::-webkit-scrollbar {
  background-color: var(--white);
  height: 8px;
  border-radius: 30px;
}

.itemList::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey-medium);
  width: 235px;
  border-radius: 9px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--green-btn);
  height: 114px;
}

@media screen and (min-width: 768px) {
  .itemList {
    gap: 16px;
  }

  .text {
    font-size: 20px;
    height: 126px;
  }
}
