.text {
  color: var(--dark-grey-medium);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 28px;
    line-height: 1.1;
  }
}
