.waterDetailedInfo {
  background-color: var(--light-gray);
  border-radius: 30px;
  padding: 20px;
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .waterDetailedInfo {
    width: 50%;
  }
}
