.modalContent {
  padding: 40px 20px;
  position: relative;
  background-color: var(--white);
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  background-color: inherit;
  width: 24px;
  height: 24px;
  transition: scale 300ms ease-in-out;
}

.closeIcon {
  width: 100%;
  height: 100%;
  fill: var(--dark-grey-hard);
}

.closeBtn:hover,
.closeBtn:focus {
  scale: 1.15;
}

@media screen and (min-width: 768px) {
  .modalContent {
    padding: 40px;
  }
  .closeBtn {
    right: 20px;
    width: 28px;
    height: 28px;
  }
}
