.mainTitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-grey-medium);
  margin-bottom: 24px;
  width: 248px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-grey-medium);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .mainTitle {
    width: 100%;
  }
}
