.modalContent {
	max-height: 80vh;
	overflow-y: auto;
	padding-right: 12px;
}

.modalContent::-webkit-scrollbar {
	background-color: var(--white);
	width: 6px;
}

.modalContent::-webkit-scrollbar-thumb {
	background-color: var(--light-gray);
	height: 242px;
	border-radius: 30px;
}

.title {
	font-size: 20px;
	line-height: 1.2;
	color: var(--dark-grey-hard);
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.title {
		font-size: 28px;
		line-height: 1.14;
		color: var(--dark-grey-hard);
		font-weight: bold;
	}
}
