.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--green-btn);
  background-image: url("../../assets/background/dectop/tracker-bg-desctop.png");
  background-size: 262px 335px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
  padding-top: 28px;
  border-radius: 30px;
  height: 415px;
}

@media screen and (min-width: 768px) {
  .box {
    height: 578px;
    background-size: 53%;
    padding: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .box {
    width: 50%;
    background-size: 58%;
  }
}
