.userBar {
  display: flex;
}

.iconDown {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.btnUserBar {
  display: flex;
  padding: 6px 12px;
  background-color: var(--dark-grey-medium);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 137px;
  height: 50px;
}

.userName {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.imgUserBarWrapper {
  display: flex;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fatherDiv {
  position: fixed;
  z-index: 1000;
  top: 150px;
}

@media only screen and (min-width: 768px) {
  .btnUserBar {
    min-width: 157px;
    height: 56px;
  }

  .imgUserBarWrapper {
    width: 44px;
    height: 44px;
  }
}
