.resetPasswordWrap {
  border-radius: 30px;
  background-color: var(--light-gray);
  height: 780px;
  padding: 24px 16px;
}

.infoWrap {
  border-radius: 15px;
  background-color: var(--green-btn);
  padding: 32px 16px;
  margin-top: 100px;
  margin-bottom: 32px;
}

.infoTitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--dark-grey-medium);
  text-align: center;
}

.signInBtn {
  background-color: var(--green-btn);
  border-radius: 30px;
  padding: 16px;
  height: 50px;
  margin-top: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--dark-grey-medium);
  transition: background 0.3s ease;
}

.signInBtn:hover,
.signInBtn:focus {
  background-color: var(--green-btn-hover);
}

@media screen and (min-width: 768px) {
  .resetPasswordWrap {
    padding: 32px;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    width: 434px;
    margin: 0 auto;
  }

  .infoWrap {
    padding: 32px 16px;
    text-align: center;
  }

  .infoTitle {
    font-size: 36px;
  }

  .signInBtn {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .resetPasswordWrap {
    width: 1440px;
  }
}
