.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 304px;
  height: 187px;
}

.closeButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  background: transparent;
  border-color: transparent;
  right: 10px;
  width: 28px;
  height: 28px;
  padding: 0px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-grey-medium);
}

.text {
  font-size: 14px;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 100%;
}

.deleteButton {
  border-radius: 30px;
  padding: 14px 126px;
  margin-top: 12px;
  height: 46px;
  background: var(--green-btn);
  color: var(--dark-grey-medium);
  font-weight: 700;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.deleteButton:hover,
.deleteButton:focus {
  background-color: var(--green-btn-hover);
}

.cancelButton {
  border-radius: 30px;
  padding: 14px 126px;
  margin-top: 12px;
  height: 46px;
  background: var(--light-gray);
  color: var(--dark-grey-medium);
  font-weight: 700;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.cancelText {
  color: #323f474d;
  transition: color 0.3s ease;
}

.cancelButton:hover .cancelText {
  color: var(--dark-grey-medium);
}

@media screen and (min-width: 768px) {
  .wrapper {
    gap: 24px;
    width: 436px;
    height: 164px;
  }
  .title {
    font-size: 28px;
  }
  .text {
    font-size: 18px;
  }
  .btnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  .deleteButton {
    padding: 18px 57px;
    margin-top: 0px;
    width: 173px;
    height: 60px;
    font-size: 16px;
  }
  .cancelButton {
    padding: 18px 0px;
    width: 176px;
    height: 60px;
    font-size: 16px;
  }
}
