.headerCalendar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.calendarInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.calendarDate {
  color: var(--dark-grey-medium);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.month {
  color: var(--dark-grey-medium);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}

@media screen and (max-width: 350px) {
  .calendarInfo {
    gap: 4px;
  }
  .month {
    font-size: 16px;
  }
}

.btnPrevMonth,
.btnDisabled {
  width: 18px;
  height: 18px;
}

.icon {
  width: 100%;
  height: 100%;
}

.btnDisabled:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.iconPieChart {
  width: 20px;
  height: 20px;
}

.iconPieChart > svg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .month {
    font-size: 28px;
  }
  .calendarDate {
    font-size: 16px;
  }
  .iconPieChart {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .iconPieChart {
    width: 28px;
    height: 28px;
  }

  .calendarInfo {
    gap: 20px;
  }
}
