.listDay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28px, 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 20px;
}

.listDayItem {
  width: max-content;
}

.dayItem {
  width: 28px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.dayBox {
  border-radius: 50%;
  background-color: var(--dark-grey-light);
  padding: 7px 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;
  color: var(--dark-grey-medium);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.dayBoxFull {
  background-color: var(--white);
}

.dayBox:hover {
  background-color: var(--dark-grey-medium);
  color: var(--green-btn);
  transition: color 0.5s, background-color 0.5s;
}

.percent {
  color: #2f2f2f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 22.4px;
}

@media screen and (min-width: 768px) {
  .listDay {
    grid-column-gap: 48px;
    grid-row-gap: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .listDay {
    grid-template-columns: repeat(auto-fit, minmax(38px, 1fr));
  }
}

.currentDay {
  background-color: var(--white);
}
