.recoverForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.formInput {
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.2);
  background-color: var(--light-gray);
  border-radius: 15px;
  padding: 16px;
  width: 100%;
  height: 50px;
  color: var(--dark-grey-medium);
}

.formInput::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(47, 47, 47, 0.6);
}

.formInput:focus {
  border-color: rgba(47, 47, 47, 0.6);
  outline: none;
}

.submitBtn {
  background-color: var(--green-btn);
  border-radius: 30px;
  padding: 16px;
  height: 50px;
  margin-top: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--dark-grey-medium);
  transition: background 0.3s ease;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: var(--green-btn-hover);
}

.formInputError {
  color: red;
  border-color: red;
}

.formInputError:focus {
  color: red;
  border-color: red !important;
  outline: none;
}

.errorMsg {
  color: red;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.formInputValid {
  color: var(--dark-grey-medium);
  border-color: rgba(47, 47, 47, 0.2);
}

@media screen and (min-width: 768px) {
  .recoverForm {
    width: 436px;
  }

  .formInput::placeholder {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }

  .submitBtn {
    font-size: 16px;
  }

  .label {
    font-size: 16px;
  }
}
